* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  font-size: 62.5%;

  --hue: 194;

  --bg-color: #ffffff;

  --bg-color-primary: hsla(240, 9%, 89%, 1);
  --bg-color-secondary: hsla(194, 97%, 31%, 1);

  --bg-color-dark: #121214;
  --bg-color-primary-dark: #29292e;
  --bg-color-secondary-dark: #0a3442;
  --text-color-dark: #c4c4cc;

  --text-color-secondary: hsla(0, 0%, 100%, 1);

  --ff-family: "Roboto", sans-serif;

  --fs-body: clamp(5rem, 6rem + 5vw, 12.6rem);
  /* --fs-body: 12.6rem; */
}

.hide {
  display: none;
  opacity: 0;
}

body {
  background-color: var(--bg-color);

  font-family: var(--ff-family);
  font-size: var(--fs-body);
}

main {
  display: flex;
  height: 100vh;

  justify-content: space-evenly;
  align-items: center;

  position: relative;
}

.timer {
  width: clamp(20rem, 15rem + 15vw, 32.1rem);
  height: clamp(10rem, 15rem + 15vw, 21.3rem);

  display: grid;

  gap: clamp(2rem, 5rem + 10vw, 4.8rem);

  font-weight: 500;
}

.time {
  height: clamp(3rem, 5rem + 15vw, 11.7rem);
  display: flex;
}
.controls {
  width: clamp(15rem, 15rem + 13vw, 31.2rem);
  height: clamp(2rem, 10rem + 15vw, 4.8rem);

  display: flex;
  justify-content: space-between;
  /* margin-top: clamp(2rem, 5rem + 10vw, 4.8rem); */
}

.controls svg:hover path,
.sound-controls svg:hover path,
.light-mode svg:hover path,
.sounds button:hover svg path {
  fill: var(--bg-color-secondary);
}

button {
  border: none;
  background: transparent;

  cursor: pointer;
}

.sounds {
  width: clamp(14rem, 15rem + 15vw, 30.8rem);
  height: clamp(16rem, 20rem + 20vw, 33.6rem);

  display: grid;
  grid-template-areas: "2 2";
  gap: clamp(0.1rem, 2rem + 2vw, 3.2rem);
}

.sounds button {
  background: var(--bg-color-primary);

  width: 13.8rem;
  height: 15.2rem;

  border-radius: 24px;
  padding: 2.4rem;
}

.sounds button input {
  width: 9rem;
  height: 0.5rem;
  margin-top: 3.2rem;
  background-color: #323238;
  border-radius: 5px;

  appearance: none;
}

.sounds button.on input {
  background-color: var(--bg-color);
}

.sounds button input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: #323238;
}

.sounds button.on input::-webkit-slider-thumb {
  background-color: var(--text-color-secondary);
}

.sounds button input::-moz-range-thumb {
  border: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: #323238;
}

.sounds button.on {
  background: var(--bg-color-secondary);
}

.sounds button.on svg path {
  fill: var(--bg-color);
}

.sound-controls {
  position: absolute;
  bottom: 0;
  right: 6.5rem;
}

.color-mode {
  position: absolute;
  right: 8rem;
  top: -2rem;
}

/* Dark Mode */

body.dark {
  background: var(--bg-color-dark);
}

.sounds.dark button.on {
  background: #0a3442;
}

.sounds.dark button {
  background: var(--bg-color-primary-dark);
}

.sounds.dark button input::-webkit-slider-thumb {
  background-color: var(--text-color-secondary);
}

.sounds.dark button svg path {
  fill: var(--text-color-dark);
}

.sounds.dark button input {
  background-color: var(--bg-color);
}

.sounds.dark button.on svg path {
  fill: var(--bg-color);
}

.time.dark {
  color: var(--text-color-secondary);
}

.controls.dark svg path {
  fill: var(--text-color-dark);
}

.sound-controls.dark svg path {
  fill: var(--text-color-secondary);
}

.controls.dark svg:hover path,
.sounds.dark button:hover svg path {
  fill: var(--text-color-secondary);
}

.sound-controls.dark svg:hover path,
.dark-mode svg:hover path {
  fill: var(--text-color-dark);
}
